<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Ionic capacitor crossplatform app.
    <p id="version"></p>
    <div id="notification" class="hidden">
      <p id="message"></p>
      <button id="close-button" onClick="closeNotification()">
        Close
      </button>
      <button id="restart-button" onClick="restartApp()" class="hidden">
        Restart
      </button>
    </div>
  </div>
</ion-content>
