<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Ionic capacitor crossplatform app.
    <p id="version"></p>
    <div id="notification" class="hidden">
      <p id="message"></p>
      <ion-button id="close-button" color="primary" (click)="closeNotificationBox()">
        Close
      </ion-button>
      <ion-button id="restart-button" color="secondary" (click)="restartDesktopApp()" class="hidden">
        Restart
      </ion-button>
    </div>
  </div>
</ion-content>
